.form {
  width: 700px;
  background-color:black;
background-image:
radial-gradient(white, rgba(3, 0, 0, 0.952) 2px, transparent 40px),
radial-gradient(white, rgba(8, 1, 1, 0.979) 1px, transparent 30px),
radial-gradient(white, rgb(7, 0, 0) 2px, transparent 40px),
radial-gradient(rgb(12, 1, 1), rgba(5, 0, 0, 0.973) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-size:40px 60px;
}