body{
  background-image: url("https://img.freepik.com/premium-vector/abstract-blue-background-with-modern-concept_191234-1066.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.App {
  text-align: center;

}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.black{
  color:white;
}
